


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Tools for Improving Your Writing</h1>
        <p>Writer's Sauce is a web application for organizing your writing and the writing process. While it is designed
        for fiction writing, it can be used for any kind of writing that incorporates people, locations, things and events. </p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Stories</h2>
          <p>Stories are the intersection of people or characters doing something at some place. The fundamental unit of a
          story is a scene. All scenes take place somewhere, have a specific literary purpose and the characters in the scene
            have goals that reflect their state of mind in relation to the plot. Coordinating the plot and scenes
            is the craft of writing. Using some sauce to keep these organized let's you focus on writing.
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Habitual Domains</h2>
          <p>Humans are creatures that live in states that define the patterns of what they do. A collection of
          these states defines a character's habitual domain. Some of these states can recur over and over while other
          can only happen once before shifting to another state. When a person is overwhelmed they can be thrown out of their
          habitual domain, struggle in unfamiliar territory until they find a new habitual domain.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Lead Characters</h2>
          <p>All novel length stories require dynamic characters that are written in a way that brings them to life
           for the reader. Filling out forms that describe your characters may seem fulilling, but the real value in
          character description comes when you ask why. Why does your lead dress a certain way, wake up at certain time or
          love/hate groups that protest. Having a detailed background on your main character lightens the load when writing
          serials or books that share characters.  </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <!--<footer>-->
        <!--<p>&copy; 2016 Company, Inc.</p>-->
      <!--</footer>-->
    </div> <!-- /container -->


