

    <div class="container">


      <div class="row">
      <div class="col-md-8">
      <div class="jumbotron">


        <h1>Writer's Sauce</h1>
        <p class="lead">Make your writing better by adding some sauce.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Test drive it now</a></p>
      </div>

      </div>
      <div class="col-md-4">
        <app-login></app-login>
      </div>
      </div>


      <div class="col-lg-12">
        <div class="header clearfix m-4">

          <h3 class="text-muted">Fiction writing is the hardest discipline</h3>
          <p class="larger">And good fiction is even harder. Writer's Sauce is a tool that takes an opinionated approach to writing
            stories that lend themselves to scene-based narration. It is developed with fiction in mind, but any
            writing can benefit. It is an applied mathematical approach to spark creativity.
          </p>
        </div>
      </div>
      <div class="row marketing">


        <div class="col-lg-4">
        <h4>Opinionated</h4>
        <p>The tool imposes a scene based writing approach using the PELT model. Scenes are made up of
          <span class="font-weight-bold">people</span> triggering or responding to <span class="font-weight-bold">events</span>
          that occur at some <span class="font-weight-bold">location</span> where the characters may use or have access to
          <span class="font-weight-bold">things</span> such as food, cars, weapons, evidence, computers, etc<span>&#8230;</span>
          to act or be acted upon.
        </p>


      </div>

        <div class="col-lg-4">
          <h4>Consistent</h4>
          <p> Keeping track of time; understanding the effects of weather
          on visibility; and what resources are readily available in the current setting are features that bind the characters.
          How the main character's personal plot line intertwines with the main plot line determines where story
          milestones intersect.</p>


        </div>
        <div class="col-lg-4">
          <h4>Rigourous</h4>
          <p> Human beings live in loops called habitual domains. States that allow them to discharge stress
            by accessing resources they are familiar with and can access. The character struggles,
            tries to adept, fails and eventually finds a new habitual domain that has those resources.
            At the end of the story, the main character is a new person--real in the eyes of the reader.</p>


        </div>

      </div>

      <footer class="footer">
        <p>&copy; 2019 writersauce.com</p>
      </footer>

    </div> <!-- /container -->


